<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-item">
          <div style="padding:20px;">
                <div id="divSelectAccountBox" style="float:left;">
             <select class="selectpicker">
            <option>
              Sawal 6
            </option>
            <option>
              Sawal 3
            </option>
            <option>
              Sawal 4
            </option>
          </select>
          <i class="fa fa-angle-down" style="color:#509ee2;"></i>
          </div>
        
           <button type="button" style="float:right;" class="btn btn-info" data-toggle="collapse" data-target="#demo">
        ☰
      </button>
           
          
           <div class="clear"></div>
       
       <div id="demo" class="collapse">ad
          <ul style="height:auto;">
              <li><a href="#"><i class="fa fa-envelope-o"></i> Inbox</a></li>
              <li><a href="#"><i class="fa fa-television"></i> Projects</a></li>
              <li><a href="#"><i class="fa fa-send-o"></i> Sent</a></li>
              <li><a href="#"><i class="fa fa-hourglass-o"></i> Pending</a></li>
          </ul>
          </div>
          
          
       </div>
      </li>
      <li class="nav-item">
        <form class="Searchbox">
          <i class="fa fa-search"></i>
          <input class="" type="text" placeholder="Search" style="width:80%;">
          <a href="#" class="fa fa-plus">
          </a>
        </form>
      </li>
      <li class="nav-item UserNameList">
        <a class="nav-link" nm="home_" href="#">
          <div>
            <div id="divProfilePicture">
              <img src="static/img/5.png" class="img-avatar" height="35px" width="35px">
            </div>
            <span class="notifiCount">10</span>
            <div id="divProfileInfo">
              <h5>
                Mr. Raj Koli
              </h5>
              <h6 class="divChatTime">
                12:30pm
              </h6>
              <h6>
                Lorem Ipsum is simply dummy text.
              </h6>
            </div>
            <div class="clear">
            </div>
          </div>
        </a>
      </li>
      <li class="nav-item UserNameList">
        <a class="nav-link" nm="chatPerson2" href="#">
          <div>
            <div id="divProfilePicture">
              <img src="static/img/6.png" class="img-avatar" height="35px" width="35px">
            </div>
            <div id="divProfileInfo">
              <h5>
                Mrs. Radhika
              </h5>
              <h6 class="divChatTime">
                11:30pm
              </h6>
              <h6>
                Lorem Ipsum is simply dummy text.
              </h6>
            </div>
            <div class="clear">
            </div>
          </div>
        </a>
      </li>
      <li class="nav-item UserNameList">
        <a class="nav-link" nm="chatPerson3" href="#">
          <div>
            <div id="divProfilePicture">
              <img src="static/img/5.png" class="img-avatar" height="35px" width="35px">
            </div>
            <div id="divProfileInfo">
              <h5>
                Mr. Amol Jadhav
              </h5>
              <h6 class="divChatTime">
                10:45pm
              </h6>
              <h6>
                Lorem Ipsum is simply dummy text.
              </h6>
            </div>
            <div class="clear">
            </div>
          </div>
        </a>
      </li>
    </ul>
  </nav>
</div>