<header class="app-header navbar">
  <button class="navbar-toggler mobile-sidebar-toggler d-lg-none" nm="mobileSideBarToggler" type="button">
    ☰
  </button>
  <a class="navbar-brand" href="/">
  </a>
  <ul class="nav navbar-nav d-md-down-none b-r-1">
    <li class="nav-item">
      <a class="nav-link navbar-toggler sidebar-toggler" nm="sideBarToggler" href="#">
        ☰
      </a>
    </li>
  </ul>
  <ul class="noindent">
    <li class="nav-item d-md-down-none">
      <a class="nav-link navbar-toggler aside-menu-toggler" nm="asideBarToggler" href="#">
        ☰
      </a>
    </li>
  </ul>
</header>

