<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-title text-center">
        <span>Overview</span>
      </li>
      <li class="nav-item">
        <a class="nav-link" nm="home_" href="#">
          <i class="icon-speedometer"></i>
          Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" nm="charts" href="#">
          <i class="icon-layers"></i>
          Place order
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" nm="sales" href="#">
          <i class="icon-people"></i>
          Client List
        </a>
      </li>
    </ul>
  </nav>
</div>

