<div id="ChatPersonNameHeaderBar">
  <div class="divNameStatusInfo">
    User Name
    <span class="Status">
    <span class="">&#160; 
    <img src="static/img/icon-status-online.png" class="img-avatar" alt=""></span> Onine -test</span>
  </div>
  <div class="divConnectDeviceOption">
    <a href="#" class="fa fa-video-camera">
    </a>
    <a href="#" class="fa fa-user-plus">
    </a>
    <a href="#" class="fa fa-ellipsis-h Asidebar" nm="asideBarToggler">
    </a>
  </div>
  <div class="clear">
  </div>
</div>