<div>
  <div>
    <div id="divUserPictureBox">
      <div>
        <img src="static/img/6.png" class="img-avatar" height="50px" width="50px" alt="admin@bootstrapmaster.com">
      </div>
    </div>
  </div>
  <div>
    <div id="divCommentBox">
      <div class="commentBoxLeft">
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
          electronic typesetting,
        </p>
      </div>
    </div>
  </div>
  <div class="clear">
  </div>
</div>

