<header class="app-header navbar">
  <button class="navbar-toggler mobile-sidebar-toggler d-lg-none" nm="mobileSideBarToggler" type="button">
    ☰
  </button>
  <a class="navbar-brand" href="/">
  </a>
  <ul class="nav navbar-nav d-md-down-none">
    <li class="nav-item">
      <a class="nav-link navbar-toggler sidebar-toggler chatapp-button" nm="sideBarToggler" href="#">
        ☰
      </a>
    </li>
  </ul>
  <ul data-container="" class="nav nav-pills parentNav" name="Nav" nm="Nav">
    <li data-child-type="menuItem" class="nav-item">
      <a data-trigger="" class="nav-link js-menu-item" href="#" name="home_" nm="scoreScreen">
       Score Screen
      </a>
    </li>
    <li data-child-type="menuItem" class="nav-item">
      <a data-trigger="" class="nav-link js-menu-item" href="#" name="Family" nm="animals">
        Family
      </a>
    </li>
     <li data-child-type="menuItem" class="nav-item">
      <a data-trigger="" class="nav-link js-menu-item" href="#" name="Office" nm="animals">
        Office
      </a>
    </li>
  </ul>
  <ul class="nav navbar-nav ml-auto chatapp-button">
    <li class="nav-item dropdown js-menu">
      <a class="nav-link nav-pill avatar" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
      aria-expanded="false">
        <img src="static/img/6.png" class="img-avatar" alt="admin@bootstrapmaster.com">
        <span class="badge badge-pill badge-danger">9</span>
      </a>
      <div class="dropdown-menu dropdown-menu-right">
        <div class="dropdown-header text-center">
          <strong>Account</strong>
        </div>
        <a class="dropdown-item" href="#">
          <i class="fa fa-bell-o"></i>
          Updates 
          <span class="badge badge-info">42</span>
        </a>
        <a class="dropdown-item" href="#">
          <i class="fa fa-envelope-o"></i>
          Messages 
          <span class="badge badge-success">42</span>
        </a>
        <a class="dropdown-item" href="#">
          <i class="fa fa-tasks"></i>
          Tasks 
          <span class="badge badge-danger">42</span>
        </a>
        <a class="dropdown-item" href="#">
          <i class="fa fa-comments"></i>
          Comments 
          <span class="badge badge-warning">42</span>
        </a>
        <div class="dropdown-header text-center">
          <strong>Settings</strong>
        </div>
        <a class="dropdown-item" href="#" nm="myProfile">
          <i class="fa fa-user"></i>
          Profile
        </a>
        <a class="dropdown-item" href="#">
          <i class="fa fa-wrench"></i>
          Settings
        </a>
        <a class="dropdown-item" href="#">
          <i class="fa fa-usd"></i>
          Payments 
          <span class="badge badge-default">42</span>
        </a>
        <a class="dropdown-item" href="#">
          <i class="fa fa-file"></i>
          Projects 
          <span class="badge badge-primary">42</span>
        </a>
        <div class="divider">
        </div>
        <a class="dropdown-item" href="#">
          <i class="fa fa-shield"></i>
          Lock Account
        </a>
        <a class="dropdown-item" nm="_logout" href="/_logout">
          <i class="fa fa-lock"></i>
          Logout
        </a>
      </div>
    </li>
    <!--<li class="nav-item d-md-down-none">
                          <a class="nav-link navbar-toggler aside-menu-toggler chatapp-button" href="#">
                            ☰
                          </a>
                        </li>-->
  </ul>
</header>