<div class="trillo-form LinkdinForm" name="LinkdinProfile" nm="LinkdinProfile">
  <form data-container="">
    <div data-child-type="text" class="form-group">
      <label data-label="">Linkdin Profile</label>
      <!--<input data-input="" class="form-control" value="https://in.linkedin.com/" disabled="disabled" nm="Text_1" type=
                        "text">-->
      <input data-input="" class="form-control" nm="Text_1" type="text">
      <!-- <input type="button" id="anOtherButton" value="Edit">-->
      <span class="">Edit</span>
    </div>
    <div data-child-type="text" class="form-group">
      <label data-label="">Name</label>
      <input data-input="" class="form-control" nm="Text_2" type="text">
      <span class="">Edit</span>
    </div>
    <div data-child-type="text" class="form-group">
      <label data-label="">Comapny name</label>
      <input data-input="" class="form-control" nm="Text_3" type="text">
    </div>
    <div data-child-type="text" class="form-group">
      <label data-label="">Corporate Email</label>
      <input data-input="" class="form-control" nm="Text_4" type="text">
    </div>
    <input id="FullName" nm="inputvalue" style="width:299px;" value="Marko" disabled="disabled" />
<br>
<br>
<input type="button" nm="button" id="anOtherButton" value="disable/enable" />
  </form>
  <small class="form-control-feedback trillo-display-none js-field-error"></small>
  <small class="form-text text-muted trillo-display-none js-field-message"></small>
</div>